In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('../CSV/House Price3.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21609 non-null  int64
 1   Date House was Sold                        21609 non-null  object
 2   Sale Price                                 21609 non-null  int64
 3   No of Bedrooms                             21609 non-null  int64
 4   No of Bathrooms                            21609 non-null  float64
 5   Flat Area (in Sqft)                        21609 non-null  int64
 6   Lot Area (in Sqft)                         21609 non-null  int64
 7   No of Floors                               21609 non-null  float64
 8   Waterfront View                            21609 non-null  object
 9   No of Times Visited                        21609 non-null  object
 10  Condition of the House                     21609 non-null  object
 11  Overall Grade                              21609 non-null  int64
 12  Area of the House from Basement (in Sqft)  21609 non-null  int64
 13  Basement Area (in Sqft)                    21609 non-null  int64
 14  Age of House (in Years)                    21609 non-null  int64
 15  Renovated Year                             21609 non-null  int64
 16  Zipcode                                    21609 non-null  int64
 17  Latitude                                   21609 non-null  float64
 18  Longitude                                  21609 non-null  float64
 19  Living Area after Renovation (in Sqft)     21609 non-null  int64
 20  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(4), int64(13), object(4)
memory usage: 3.5+ MB

Zipcode Transformation

In [3]:
df['Zipcode'] = df['Zipcode'].astype(object)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21609 non-null  int64
 1   Date House was Sold                        21609 non-null  object
 2   Sale Price                                 21609 non-null  int64
 3   No of Bedrooms                             21609 non-null  int64
 4   No of Bathrooms                            21609 non-null  float64
 5   Flat Area (in Sqft)                        21609 non-null  int64
 6   Lot Area (in Sqft)                         21609 non-null  int64
 7   No of Floors                               21609 non-null  float64
 8   Waterfront View                            21609 non-null  object
 9   No of Times Visited                        21609 non-null  object
 10  Condition of the House                     21609 non-null  object
 11  Overall Grade                              21609 non-null  int64
 12  Area of the House from Basement (in Sqft)  21609 non-null  int64
 13  Basement Area (in Sqft)                    21609 non-null  int64
 14  Age of House (in Years)                    21609 non-null  int64
 15  Renovated Year                             21609 non-null  int64
 16  Zipcode                                    21609 non-null  object
 17  Latitude                                   21609 non-null  float64
 18  Longitude                                  21609 non-null  float64
 19  Living Area after Renovation (in Sqft)     21609 non-null  int64
 20  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(4), int64(12), object(5)
memory usage: 3.5+ MB

No of Times Visited Transformation

In [4]:
df['No of Times Visited'].unique()

array(['None', 'Thrice', 'Four', 'Twice', 'Once'], dtype=object)

In [5]:
mapping = {
    'None': "0",
    'Once': "1",
    'Twice': "2",
    'Thrice': "3",
    'Four': "4"
}
df['No of Times Visited'] = df['No of Times Visited'].map(mapping)
df['No of Times Visited'].unique()

array(['0', '3', '4', '2', '1'], dtype=object)

Renovated Year & Purchase Year

In [6]:
df['Ever Renovated'] = np.where(df['Renovated Year'] == 0, 'No', 'Yes')

In [7]:
df['Purchase Year'] = pd.DatetimeIndex(df['Date House was Sold']).year
df['Year Since Renovation'] = np.where(df['Ever Renovated'] == 'Yes', abs(
    df['Purchase Year']-df['Renovated Year']), 0)

In [8]:
df.drop(columns=['Date House was Sold',
        'Renovated Year', 'Purchase Year'], inplace=True)

In [9]:
# df.to_csv("CSV/Transformed House Price.csv",index=False)